@import 'templates/variables';
@import 'templates/mixins';

.dataContainer{
	background: #fff;
	padding: 30px;
	border-radius: 15px;

	.input-group-text{
		background: unset;
		padding-right: unset;
	}
	.searchInput{
		border-left: unset;
		&:focus{
		    border-color: #ced4da;
		    box-shadow: unset;
		}
	}

	.tableContainer{
		.table{
			margin-top: 15px;
		}
	}
}

.table{
    .thead,.tbody{
        .tr{
            .th,.td{
                flex-basis: (100%/3);

                &:nth-child(1){
                	flex-basis: 31%;
                }&:nth-child(2){
                	flex-basis: 38%;
                }
                &:nth-child(3){
                	@include flex(row);
                	justify-content: center;
                	flex-basis: 31%;

                	.btn-primary{
                		white-space: nowrap;
                	}
                }
            }
        }
    }
}

.showAmount{
	@include flex(row, null, center);
	label{
		margin-right: 10px;
	}
	.form-select{
		width: unset;
	}
}

.pageNum{
	@include flex(row,end,center);

	.pagination{
		margin-bottom: 0;
	}
}