@media (max-width: 992px){
	.navbar{
		background: linear-gradient(135deg, rgba(14,137,68,1) 0%, rgba(0,153,153,1) 100%);
	}
	.logo-user-container{
		flex-direction:column;

		.navTogglerFix{
			@include flex(row,space-between,center);
			width: 100%;

			.navbar-toggler:focus {
			    box-shadow: unset;
			}
		}
		.navbar {
		    background: unset;
		    --bs-navbar-padding-y: 0;
		}
	}
}

@media (min-width: 992px){
	.navTogglerFix{
		display: none;
	}
}